<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">

                <title>{{ title }}</title>

                <!-- PYSCRIPT -->
                <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
                <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
                <py-env>
                        - numpy
                        - pandas
                        - matplotlib
                        - seaborn
                </py-env>

                <!-- BOOTSTRAP CSS -->
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

                <!-- CHART.js -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

                {% load static %}
                <!-- JQuery -->
                <script src="{% static 'app2/jquery-3.6.0.js' %}"></script>
        </head>
        <body>
                <!-- Content Block -->
                <div class="container-fluid">
                        {% block content %}
                        {% endblock %}
                </div>

                <footer>
                        <p style="color: black; text-align: center;">&copy; 2022 Andrew Tomich</p>
                </footer>
                
                <!-- JQuery -->
                <script>
                        $(document).ready(function(){
                                {% block jquery %}
                                {% endblock %}
                        })
                </script>

                <!-- BOOTSTRAP JavaScript Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        </body>

</html>
