{% extends 'app1/base.html' %}

<script>
{% block jquery %}
var endpoint = 'api/chart/data'
var bg_colors = ['rgba(250, 133, 133, 0.7)',
                'rgba(250, 162, 133, 0.7)',
                'rgba(250, 191, 133, 0.7)',
                // 'rgba(250, 221, 133, 0.7)',
                'rgba(250, 250, 133, 0.7)',
                'rgba(221, 250, 133, 0.7)',
                // 'rgba(191, 250, 133, 0.7)',
                'rgba(162, 250, 133, 0.7)',
                // 'rgba(133, 250, 133, 0.7)',
                'rgba(133, 250, 162, 0.7)',
                // 'rgba(133, 250, 191, 0.7)',
                'rgba(133, 250, 221, 0.7)',
                'rgba(133, 250, 250, 0.7)',
                // 'rgba(133, 221, 250, 0.7)',
                'rgba(135, 206, 250, 0.7)',
                // 'rgba(133, 191, 250, 0.7)',
                'rgba(133, 162, 250, 0.7)',
                // 'rgba(133, 133, 250, 0.7)',
                // 'rgba(162, 133, 250, 0.7)',
                'rgba(191, 133, 250, 0.7)',
                'rgba(221, 133, 250, 0.7)',
                'rgba(250, 133, 250, 0.7)',
                // 'rgba(250, 133, 221, 0.7)',
                'rgba(250, 133, 191, 0.7)',
                'rgba(250, 133, 162, 0.7)'
]

var brdr_colors = ['rgba(250, 133, 133, 1.0)',
                'rgba(250, 162, 133, 1.0)',
                'rgba(250, 191, 133, 1.0)',
                // 'rgba(250, 221, 133, 1.0)',
                'rgba(250, 250, 133, 1.0)',
                'rgba(221, 250, 133, 1.0)',
                // 'rgba(191, 250, 133, 1.0)',
                'rgba(162, 250, 133, 1.0)',
                // 'rgba(133, 250, 133, 1.0)',
                'rgba(133, 250, 162, 1.0)',
                // 'rgba(133, 250, 191, 1.0)',
                'rgba(133, 250, 221, 1.0)',
                'rgba(133, 250, 250, 1.0)',
                // 'rgba(133, 221, 250, 1.0)',
                'rgba(135, 206, 250, 1.0)',
                // 'rgba(133, 191, 250, 1.0)',
                'rgba(133, 162, 250, 1.0)',
                // 'rgba(133, 133, 250, 1.0)',
                // 'rgba(162, 133, 250, 1.0)',
                'rgba(191, 133, 250, 1.0)',
                'rgba(221, 133, 250, 1.0)',
                'rgba(250, 133, 250, 1.0)',
                // 'rgba(250, 133, 221, 1.0)',
                'rgba(250, 133, 191, 1.0)',
                'rgba(250, 133, 162, 1.0)'
]
var defaultData1 = []
var labels1 = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
        labels1 = data.labels;
        console.log(labels1)
        defaultData1 = data.coords;
        const ctx = document.getElementById('myChart1');
        const myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                labels: labels1,
                datasets: [{
                    label: 'Patching Cadence',
                    data: defaultData1,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)'
                    //     // 'rgba(128, 15, 38, 0.7)',
                    //     // 'rgba(75, 238, 185, 0.7)',
                    //     // 'rgba(210, 25, 67, 0.7)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    //     // 'rgba(128, 15, 38, 0.7)',
                    //     // 'rgba(75, 238, 185, 0.7)',
                    //     // 'rgba(210, 25, 67, 0.7)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                // scales: {
                //     y: {
                //         beginAtZero: true
                //     }
                // }
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    } 
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            color: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                        ]}
                    }
                },
                elements: {
                    point: {
                        radius: 6,
                        hoverRadius: 10,
                    }
                }
            }
        });
    },
    error: function(error_data) {
        console.log(error_data)
    }
})
{% endblock %}
</script>

{% block content %}

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <canvas id="myChart1" height="600"></canvas>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>

    <!-- <div class="row" style="text-align: center;">
        <h1>Key Task: Patching - Security, Major, Minor, RHIN: 77</h1>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="myChart2"></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="myChart3"></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="myChart4"></div>
        </div>
    </div>

    {% include 'app1/myCharts/pyscript/myChart2.html' %}
    {% include 'app1/myCharts/pyscript/myChart3.html' %}
    {% include 'app1/myCharts/pyscript/myChart4.html' %} -->

{% endblock %}

